/*
    @Author: Siken MS Dongol
    @Date: April 8, 2023

    CSS four corners absolute positioning
    - planet Saturn at [top-left] & [bottom-right] position
    - planet Earth at [top-right] position
    - planet Jupiter at [bottom-left] position
*/


.container {
  position: relative;
  height: 100vh;
  /* important for bottom-left/right abs position */

  color: lightblue;
  font-size: 1.5rem;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-42%, -42%);
  opacity: 0.6;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(44%, -44%);
  opacity: 0.9;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-44%, 44%);
  opacity: 0.5;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(42%, 42%);
  opacity: 0.5;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6rem;
  color: lightyellow;
  text-shadow: 0.3rem 0.3rem 0.7rem rgba(151, 151, 151, 0.7);
}

.moon {
    position: absolute;
    top: 28%;
    left: 30%;
}
